/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* estilos de Sobre Mi, Capacitacion*/
.fotos ul li, .videos ul li, .slide ul li {
  display: inline-block;
  background-color: #9aa556;
  margin: 5px;
  padding: 3px;
  border: 6rem; }

/* estilos generales */
body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif; }

/* estilos del menu para BT */
.color-menu {
  background-color: #9eaa3a; }

/* estilos de capacitacion para BT*/
.color-caja {
  background-color: #d3dd9c; }

/* estilos del home */
main {
  width: 100vw;
  text-align: center; }
  main .uno {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    padding: 0.5rem; }
    main .uno div {
      background-color: #798242; }
    main .uno h3 {
      color: beige; }
      main .uno h3 span {
        display: block; }
    main .uno p {
      text-align: justify;
      font-style: italic;
      padding: 0.5rem; }
      main .uno p span {
        display: block; }

footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
  margin: 1px; }
  footer .redes ul li {
    display: inline-block;
    margin: 1rem; }
  footer .redes .item-fixed {
    position: fixed;
    bottom: 0;
    right: 0; }
    footer .redes .item-fixed img {
      animation-name: img-mov;
      animation-iteration-count: infinite;
      animation-duration: 3s; }

@keyframes img-mov {
  to {
    transform: scale(0.9); }
  from {
    transform: scale(1); } }

/* estilos de contactos */
.contacto {
  display: flex;
  justify-content: center;
  align-items: center; }
  .contacto ul li {
    display: inline-block;
    margin: 1rem; }

/* media query */
@media (max-width: 768px) {
  main {
    background-color: beige;
    align-items: center; } }

@media (max-width: 576px) {
  main {
    background-color: #d3dd9c;
    align-items: center; }
  .redes {
    display: none; } }
