/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "utilidades/variable";
@import "utilidades/extend";
@import "utilidades/mixin";

/* estilos generales */
body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

/* estilos del menu para BT */
.color-menu{
    background-color: $colorMenu;
}

/* estilos de capacitacion para BT*/
.color-caja{
    background-color: $colorMQ;
}

/* estilos del home */
main{
    width: 100vw;
    text-align: center;
    .uno{
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        padding: 0.5rem;
    
        div{
            background-color: $colorMenu3;
        }
        h3{
            color: $colorMenu2;
            span{
                display:block;
            }
        }
        p{  
            text-align:justify;
            font-style: italic;
            padding: 0.5rem;
            span{
                display: block;
            } 
        }
    }
   
}

footer{
    width: 100vw;
    @include flex;
    flex-direction:column;
    padding: 0.5rem;
    margin: 1px;
    .redes{
        ul li{
            display: inline-block;
            margin: 1rem;
        }
        .item-fixed{
            position: fixed;
            bottom: 0;
            right: 0;
            img{
                animation-name: img-mov;
                animation-iteration-count: infinite;
                animation-duration: 3s;                
            }
        }
    }
}
@keyframes img-mov{
    to{
        transform: scale(0.9);
    }
    from{
        transform: scale(1);
    }
}

//estilos de Sobre Mi, Capacitacion en extend
.fotos ul li{
    @extend %estilosListas;
    
}
.videos ul li{
    @extend %estilosListas;
   
}
// .profe ul li{
//     @extend %estilosListas;
//     justify-content:center;
//     width: 18rem;
//     height: 15rem;
// }
.slide ul li{
    @extend %estilosListas;
}
/* estilos de contactos */
.contacto{
    @include flex;
    ul li{
        display:inline-block;
        margin: 1rem;   
    }
}
/* media query */
@media  (max-width:768px){
    main{
        background-color: $colorMenu2;
        align-items: center;
    }
    
}
@media  (max-width:576px){
    main{
        background-color: $colorMQ;
        align-items: center;
        
    }
    .redes{
        display: none;
    }
}
